@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Six+Caps&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    font-family: 'roboto slab', sans-serif;
    text-align: center;
}


#keycode{
    text-align: center;
}

body{
    background-image: url(/galaxy-tabpro-s-background-Is-4K-Wallpaper.jpg)
}